tr {
    border-bottom: 2px solid #1D1D1D;
    color: #E7E7E7;

    th {
        height: 32px;
        border-radius: 4px;
        position: relative;
        border: none;
        padding: 15px 0 !important;
        line-height: 1px;
        padding-left: 25px !important;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        color: #21D2F9;

        &:before {
            content: '';
            position: absolute;
            left: -9px;
            top: 9px;
            width: 32px;
            height: 14px;
            background: #646464;
            border-radius: 0 0 4px 4px;
            transform: rotate(90deg);
        }
    }

    td {
        height: 32px;
        border: none;
        padding: 15px 0 !important;
        line-height: 1px;
        font-size: 12px;

        .fa-my-plus-square {
            color: #5BBE38;
            background-color: #FFFFFF;
            border-radius: 4px;
            font-size: 20px;
        }

        &:nth-child(8) {
            width: 30px;
        }

        &:nth-child(9) {
            padding: 5px 5px !important;
            position: relative;
            width: 25%;

            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                width: 1px;
                height: 20px;
                background-color: #616161;
            }
        }

        &:nth-child(10) {
            padding: 5px 5px !important;
            width: 33px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                width: 1px;
                height: 20px;
                background-color: #616161;
            }

            div {
                width: 18px;
                height: 18px;
                border: 1px solid #616161;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }
    }
}
