tr {
    border-bottom: 2px solid #1D1D1D;
    color: #E7E7E7;

    th {
        border-top: 2px solid #1D1D1D !important;
        height: 32px;
        border-radius: 4px;
        position: relative;
        padding: 15px 0 !important;
        line-height: 1px;
        padding-left: 25px !important;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        color: #21D2F9;
        width: 72px;

        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 14px;
            height: 100%;
            background: #646464;
            border-radius: 4px 0 0 4px;
        }
    }

    &.truck-section {
        .truck-list {
            position: relative;
            padding: 9px 12px;
            width: 72px;

            .d-flex-wrap {
                display: block;
                width: 100vw;
                padding-right: 48px;
                overflow: auto;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 14px;
                height: 130%;
                background: #646464;
                border-radius: 4px 0 0 4px;
            }

            .truck-number {
                margin: 5px 0 5px 10px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                font-size: 11px;
                text-align: center;
                color: #2FB5D2;
                border-radius: 4px;
                width: 35px;
                height: 18px;
                float: left;
                border: 1px solid #2FB5D2;
                cursor: pointer;
            }
        }
    }

    td {
        height: 32px;
        border-top: 2px solid #1D1D1D !important;
        border-bottom: 2px solid #1D1D1D !important;
        padding: 15px 0 !important;
        line-height: 1px;
        font-size: 12px;

        .job-list {
            display: flex;
            align-items: center;

            .job-item {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .job-number {
                    margin: 0 5px;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    font-size: 11px;
                    text-align: center;
                    color: #FFF;
                    background: #2FB5D2;
                    border-radius: 4px;
                    width: 35px;
                    height: 18px;
                    float: left;
                    border: 1px solid #2FB5D2;
                    cursor: pointer;
                }
            }


        }

        .fa-my-plus-square {
            color: #5BBE38;
            background-color: #FFFFFF;
            border-radius: 4px;
            font-size: 20px;
            cursor: pointer;
        }

        .fa-my-minus-square {
            color: #5BBE38;
            border-radius: 4px;
            font-size: 20px;
            cursor: pointer;
        }

        &:nth-child(8) {
            width: 30px;
        }

        &:nth-child(9) {
            padding: 5px 5px !important;
            position: relative;
            width: 25%;

            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                width: 1px;
                height: 20px;
                background-color: #616161;
            }
        }

        &:nth-child(10) {
            padding: 5px 5px !important;
            width: 33px;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                width: 1px;
                height: 20px;
                background-color: #616161;
            }

            div {
                width: 18px;
                height: 18px;
                border: 1px solid #616161;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }

        &:last-child {
            div {
                border: 1px solid #616161;
                box-sizing: border-box;
                border-radius: 4px;
            }
        }
    }
}
