@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.dashboard-container {
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    position: relative;

    .tab-block {
        display: flex;
        padding-right: 20px;
        background: #1D1D1D;
        box-shadow: 3px 4px 34px #0E0E0E;

        .tab-block__left {
            flex: auto;

            span {
                width: 138.77px;
                height: 54px;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 14px;
                text-align: center;
                color: #646464;
                display: inline-block;
                padding: 17px 0;
                cursor: pointer;
            }
        }

        .tab-block__middle {
            flex: 1.7;
            display: flex;
            align-items: center;

            span:first-child {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                color: #8E8E8E;
            }

            #date {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                cursor: pointer;
                color: #ffffff;
                margin-right: 8px;
            }

            .down-arrow {
                cursor: pointer;
            }
        }

        .tab-block__right {
            flex: initial;
            display: flex;
            align-items: center;
            position: relative;

            input {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                height: 22px;
                color: #FFFFFF;
                background: #1E1E1E;
                width: 90px;
                padding: 0 10px;
                -webkit-transition: width .5s linear;
                -moz-transition: width .5s linear;
                -o-transition: width .5s linear;
                /* Safari */
                transition: width .5s;

                &:hover {
                    width: 150px;
                }
            }

            &::after {
                font-family: FontAwesome;
                content: "\f002";
                color: #FFFFFF;
                position: absolute;
                top: 22px;
                right: 2px;
                font-size: 12px;
            }
        }
    }

    .job-list-block {
        padding: 24px;
    }

    .calendar {
        position: absolute;
        left: 35%;
        top: 50px;

        .rdr-DateRange {
            background: #1D1D1D !important;

            .rdr-Calendar {
                background: #1D1D1D !important;
                box-shadow: 3px 4px 34px #0E0E0E !important;
                border-radius: 8px !important;

                .rdr-MonthAndYear-button {
                    &.prev {
                        background: url('/images/arrow-pointing-to-left.png') no-repeat !important;
                        background-size: 18px 20px !important;
                        width: 18px !important;
                        height: 20px !important;
                        cursor: pointer;
                    }

                    &.next {
                        background: url('/images/arrow-pointing-to-right.png') no-repeat !important;
                        background-size: 18px 20px !important;
                        width: 18px !important;
                        height: 20px !important;
                        cursor: pointer;
                    }
                }

                .rdr-MonthAndYear-month,
                .rdr-MonthAndYear-divider,
                .rdr-MonthAndYear-year {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 20px;
                    font-size: 18px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
    }
}