.root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #1D1D1D;

    .sidebar-wrapper {
        width: 250px;
        -webkit-transition: width .5s linear;
        -moz-transition: width .5s linear;
        -o-transition: width .5s linear;
        /* Safari */
        transition: width .5s;
        z-index: 100;

        &.w-0 {
            width: 0;
        }
    }

    .content-wrapper {
        background: #1D1D1D;
        flex: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 10;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .root .content-wrapper header {
        flex-direction: column;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .root .content-wrapper header {
        flex-direction: column;
    }

    .dashboard-container .tab-block .tab-block__right::after {
        top: 21px;
        right: 2px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .root .content-wrapper header {
        flex-direction: column;
    }

    .root .content-wrapper header .header-right-block ul {
        flex-direction: column;
        align-items: baseline;
    }

    .dashboard-container .tab-block {
        flex-direction: column;
    }

    .dashboard-container .tab-block .tab-block__right input {
        width: 100%;
        right: 0;
    }

    .dashboard-container .tab-block .tab-block__right::after {
        top: 7px;
        right: 2px;
    }
}